USE [master]
GO
/****** Object:  Database [MyAssignmentDB1]    Script Date: 10/31/2023 9:20:39 AM ******/
CREATE DATABASE [MyAssignmentDB1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyAssignmentDB1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyAssignmentDB1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyAssignmentDB1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MyAssignmentDB1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyAssignmentDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyAssignmentDB1]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/31/2023 9:20:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](200) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[displayname] [nvarchar](200) NOT NULL,
	[student_id] [nvarchar](200) NOT NULL,
	[campus_id] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campus]    Script Date: 10/31/2023 9:20:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campus](
	[campus_id] [nvarchar](50) NOT NULL,
	[campus_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Campus] PRIMARY KEY CLUSTERED 
(
	[campus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 10/31/2023 9:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[course_id] [nvarchar](200) NOT NULL,
	[course_name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course_Grade]    Script Date: 10/31/2023 9:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_Grade](
	[course_grade_id] [nvarchar](200) NOT NULL,
	[course_id] [nvarchar](200) NOT NULL,
	[grade_id] [nvarchar](50) NOT NULL,
	[course_grade_weight] [float] NOT NULL,
	[course_grade_group] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Course_Grade] PRIMARY KEY CLUSTERED 
(
	[course_grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 10/31/2023 9:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[enrollment_id] [nvarchar](200) NOT NULL,
	[student_id] [nvarchar](200) NOT NULL,
	[semester_id] [int] NOT NULL,
	[course_id] [nvarchar](200) NOT NULL,
	[enrollment_start_date] [date] NOT NULL,
	[enrollment_end_date] [date] NOT NULL,
	[group_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 10/31/2023 9:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[grade_id] [nvarchar](50) NOT NULL,
	[grade_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Grade] PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 10/31/2023 9:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[group_id] [nvarchar](50) NOT NULL,
	[group_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 10/31/2023 9:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[major_id] [nvarchar](200) NOT NULL,
	[major_name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Curriculum] PRIMARY KEY CLUSTERED 
(
	[major_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major_Course]    Script Date: 10/31/2023 9:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major_Course](
	[major_course_id] [int] NOT NULL,
	[major_id] [nvarchar](200) NOT NULL,
	[course_id] [nvarchar](200) NOT NULL,
	[semester_number] [int] NOT NULL,
	[credit] [int] NOT NULL,
 CONSTRAINT [PK_Curriculum_Course] PRIMARY KEY CLUSTERED 
(
	[major_course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Score]    Script Date: 10/31/2023 9:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Score](
	[score_id] [int] IDENTITY(1,1) NOT NULL,
	[enrollment_id] [nvarchar](200) NOT NULL,
	[course_grade_id] [nvarchar](200) NOT NULL,
	[score] [float] NULL,
 CONSTRAINT [PK_Enrollment_Course_Grade] PRIMARY KEY CLUSTERED 
(
	[score_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 10/31/2023 9:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[semester_id] [int] NOT NULL,
	[semester_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Semester] PRIMARY KEY CLUSTERED 
(
	[semester_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 10/31/2023 9:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[student_id] [nvarchar](200) NOT NULL,
	[student_name] [nvarchar](200) NOT NULL,
	[student_gender] [bit] NOT NULL,
	[student_dob] [date] NULL,
	[student_email] [nvarchar](200) NULL,
	[major_id] [nvarchar](200) NOT NULL,
	[campus_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password], [displayname], [student_id], [campus_id]) VALUES (N'thanbdhe172581', N'123', N'thanbdhe172581', N'HE172581', N'HL')
GO
INSERT [dbo].[Campus] ([campus_id], [campus_name]) VALUES (N'CT', N'Cần Thơ')
INSERT [dbo].[Campus] ([campus_id], [campus_name]) VALUES (N'DN', N'Đà Nẵng')
INSERT [dbo].[Campus] ([campus_id], [campus_name]) VALUES (N'HCM', N'Hồ Chí Minh')
GO
INSERT [dbo].[Course] ([course_id], [course_name]) VALUES (N'CEA201', N'Computer Organization and Architecture')
INSERT [dbo].[Course] ([course_id], [course_name]) VALUES (N'CSD201', N'Data Structures and Algorithms')
INSERT [dbo].[Course] ([course_id], [course_name]) VALUES (N'CSI104', N'Introduction to Computer Science')
GO
INSERT [dbo].[Course_Grade] ([course_grade_id], [course_id], [grade_id], [course_grade_weight], [course_grade_group]) VALUES (N'CEA201_AS1', N'CEA201', N'AS1', 0.15, N'Assignment')
INSERT [dbo].[Course_Grade] ([course_grade_id], [course_id], [grade_id], [course_grade_weight], [course_grade_group]) VALUES (N'CEA201_AS2', N'CEA201', N'AS2', 0.15, N'Assignment')
INSERT [dbo].[Course_Grade] ([course_grade_id], [course_id], [grade_id], [course_grade_weight], [course_grade_group]) VALUES (N'CEA201_ASTT', N'CEA201', N'TT', 0.3, N'Assignment')
GO
INSERT [dbo].[Enrollment] ([enrollment_id], [student_id], [semester_id], [course_id], [enrollment_start_date], [enrollment_end_date], [group_id]) VALUES (N'HE172581_20223_CEA201', N'HE172581', 20223, N'CEA201', CAST(N'2022-09-05' AS Date), CAST(N'2022-11-11' AS Date), N'SE1753')
INSERT [dbo].[Enrollment] ([enrollment_id], [student_id], [semester_id], [course_id], [enrollment_start_date], [enrollment_end_date], [group_id]) VALUES (N'HE172581_20223_CSI104', N'HE172581', 20223, N'CSI104', CAST(N'2022-09-05' AS Date), CAST(N'2022-11-11' AS Date), N'SE1753')
INSERT [dbo].[Enrollment] ([enrollment_id], [student_id], [semester_id], [course_id], [enrollment_start_date], [enrollment_end_date], [group_id]) VALUES (N'HE172581_20223_MAE101', N'HE172581', 20223, N'MAE101', CAST(N'2022-09-06' AS Date), CAST(N'2022-11-10' AS Date), N'SE1753')
GO
INSERT [dbo].[Grade] ([grade_id], [grade_name]) VALUES (N'AS', N'Assignment')
INSERT [dbo].[Grade] ([grade_id], [grade_name]) VALUES (N'AS1', N'Assignment 1')
INSERT [dbo].[Grade] ([grade_id], [grade_name]) VALUES (N'AS2', N'Assignment 2')
GO
INSERT [dbo].[Group] ([group_id], [group_name]) VALUES (N'SE1749', N'SE1749')
INSERT [dbo].[Group] ([group_id], [group_name]) VALUES (N'SE1750', N'SE1750')
INSERT [dbo].[Group] ([group_id], [group_name]) VALUES (N'SE1753', N'SE1753')
GO
INSERT [dbo].[Major] ([major_id], [major_name]) VALUES (N'SE', N'Software Engineering')
GO
INSERT [dbo].[Major_Course] ([major_course_id], [major_id], [course_id], [semester_number], [credit]) VALUES (11, N'SE', N'CSI104', 1, 3)
INSERT [dbo].[Major_Course] ([major_course_id], [major_id], [course_id], [semester_number], [credit]) VALUES (12, N'SE', N'PRF192', 1, 3)
INSERT [dbo].[Major_Course] ([major_course_id], [major_id], [course_id], [semester_number], [credit]) VALUES (13, N'SE', N'MAE101', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Score] ON 

INSERT [dbo].[Score] ([score_id], [enrollment_id], [course_grade_id], [score]) VALUES (1, N'HE172581_20223_CEA201', N'CEA201_AS1', 7)
INSERT [dbo].[Score] ([score_id], [enrollment_id], [course_grade_id], [score]) VALUES (2, N'HE172581_20223_CEA201', N'CEA201_AS2', 7)
INSERT [dbo].[Score] ([score_id], [enrollment_id], [course_grade_id], [score]) VALUES (3, N'HE172581_20223_CEA201', N'CEA201_ASTT', 7)
SET IDENTITY_INSERT [dbo].[Score] OFF
GO
INSERT [dbo].[Semester] ([semester_id], [semester_name]) VALUES (20223, N'Fall2022')
INSERT [dbo].[Semester] ([semester_id], [semester_name]) VALUES (20231, N'Spring2023')
INSERT [dbo].[Semester] ([semester_id], [semester_name]) VALUES (20232, N'Summer2023')
GO
INSERT [dbo].[Student] ([student_id], [student_name], [student_gender], [student_dob], [student_email], [major_id], [campus_id]) VALUES (N'HE172581', N'Bạch Đức Thản', 1, CAST(N'2003-09-03' AS Date), N'thanbdhe172581@fpt.edu.vn', N'SE', N'HL')
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Campus] FOREIGN KEY([campus_id])
REFERENCES [dbo].[Campus] ([campus_id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Campus]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Student] ([student_id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Student]
GO
ALTER TABLE [dbo].[Course_Grade]  WITH CHECK ADD  CONSTRAINT [FK_Course_Grade_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Course_Grade] CHECK CONSTRAINT [FK_Course_Grade_Course]
GO
ALTER TABLE [dbo].[Course_Grade]  WITH CHECK ADD  CONSTRAINT [FK_Course_Grade_Grade] FOREIGN KEY([grade_id])
REFERENCES [dbo].[Grade] ([grade_id])
GO
ALTER TABLE [dbo].[Course_Grade] CHECK CONSTRAINT [FK_Course_Grade_Grade]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Course]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Group] FOREIGN KEY([group_id])
REFERENCES [dbo].[Group] ([group_id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Group]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Semester] FOREIGN KEY([semester_id])
REFERENCES [dbo].[Semester] ([semester_id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Semester]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Student] ([student_id])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK_Enrollment_Student]
GO
ALTER TABLE [dbo].[Major_Course]  WITH CHECK ADD  CONSTRAINT [FK_Major_Course_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Major_Course] CHECK CONSTRAINT [FK_Major_Course_Course]
GO
ALTER TABLE [dbo].[Major_Course]  WITH CHECK ADD  CONSTRAINT [FK_Major_Course_Major] FOREIGN KEY([major_id])
REFERENCES [dbo].[Major] ([major_id])
GO
ALTER TABLE [dbo].[Major_Course] CHECK CONSTRAINT [FK_Major_Course_Major]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Course_Grade_Course_Grade] FOREIGN KEY([course_grade_id])
REFERENCES [dbo].[Course_Grade] ([course_grade_id])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Enrollment_Course_Grade_Course_Grade]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Enrollment_Course_Grade_Enrollment] FOREIGN KEY([enrollment_id])
REFERENCES [dbo].[Enrollment] ([enrollment_id])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Enrollment_Course_Grade_Enrollment]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Campus1] FOREIGN KEY([campus_id])
REFERENCES [dbo].[Campus] ([campus_id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Campus1]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Major] FOREIGN KEY([major_id])
REFERENCES [dbo].[Major] ([major_id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Major]
GO
USE [master]
GO
