th[data-status="PASSED"] {
    /* Đổi màu nền thành xanh khi status là "PASSED" */
    background-color: green;
}

th[data-status="NOT PASSED"] {
    /* Đổi màu nền thành đỏ khi status là "NOT PASSED" */
    background-color: red;
}

th[data-status="NOT STARTED"] {
    /* Đổi màu nền thành xám khi status là "NOT STARTED" */
    background-color: gray;
}
td[data-status="PASSED"] {
    /* Đổi màu chữ thành xanh khi status là "PASSED" */
    color: green;
}

td[data-status="NOT PASSED"] {
    /* Đổi màu chữ thành đỏ khi status là "NOT PASSED" */
    color: red;
}

td[data-status="NOT STARTED"] {
    /* Đổi màu chữ thành xám khi status là "NOT STARTED" */
    color: gray;
}